.vs
用户配置教程
开发配置教程

Routines/DefaultRoutine/Silverfish/Test/Data/对局记录
Routines/DefaultRoutine/Silverfish/UltimateLogs
Routines/DefaultRoutine/Silverfish/Test/Data
Logs/
obj/
.vscode/
Hearthbuddy_SimTemplate/
Hearthbuddy_backed.csproj
.gitignore
Hearthbuddy_backed.sln
CompiledAssemblies/AutoStop.dll
CompiledAssemblies/DefaultBot.dll
CompiledAssemblies/DefaultRoutine.dll
CompiledAssemblies/Monitor.dll
CompiledAssemblies/Quest.dll
CompiledAssemblies/Stats.dll

Settings/
Settings/Default
Settings/Default/CustomDecks

Hearthbuddy_backed.csproj.user
