# 无用文件
.vs/
.vscode/
.bin/
obj/
调试用/



# Routines/DefaultRoutine/Silverfish/Test/Data/对局记录/
Routines/DefaultRoutine/Silverfish/UltimateLogs/
Routines/DefaultRoutine/Silverfish/Test/Data/
Logs/
# Hearthbuddy_backed.csproj
# Hearthbuddy_backed.sln


#  编译后dll
# CompiledAssemblies/*
# CompiledAssemblies/

CompiledAssemblies/AutoStop.dll
CompiledAssemblies/DefaultBot.dll
CompiledAssemblies/DefaultRoutine.dll
CompiledAssemblies/Monitor.dll
CompiledAssemblies/Quest.dll
CompiledAssemblies/Stats.dll
# Hearthbuddy_backed.csproj.user
myLog.txt


Settings/
Settings/Global/
Settings/Default/
Settings/Default/DefaultCustomDecks/

# 教程文件夹
dll/
用户配置教程/
开发配置教程/
炉石中控.2.exe
